<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Starter page{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{asset("resources/vendor/twitter-bootstrap/css/bootstrap.css")}}" />
            <link rel="stylesheet" href="{{asset("resources/cures/css/styles.css")}}" />
        {% endblock %}
    </head>
    <body id="home">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <a href="./" class="navbar-brand">CCNY CURES</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        {% block navMenu %}
                            <li>
                                <a href="{{ path('home')}}" class="nav-link">Home</a>
                            </li>
                            {% block dynamicMenuContent %}
                                <li>
                                    <a href="{{ path('newWorkOrder') }}" class="nav-link">New Request</a>
                                </li>
                            {% endblock dynamicMenuContent %}
                            <li>
                                <a href="./status" class="nav-link">Request Status</a>
                            </li>
                            <li>
                                <a href="#contact" class="nav-link">Contact</a>
                            </li>
                        {% endblock navMenu %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
            <h1>Hello, world!</h1>
        {% endblock %}
        {% block javascript %}
            <script src="{{asset("resources/vendor/jquery/jquery.min.js")}}"></script>
            <script src="{{asset("resources/vendor/popper.js/popper.min.js")}}"></script>
            <script src="{{asset("resources/vendor/twitter-bootstrap/js/bootstrap.js")}}"></script>
        {% endblock %}
    </body>
</html>
