{% extends "base.template.twig" %}

{% block title %}
    CURES - Submitt a work order
{% endblock %}

{% block styles %}
    {{parent()}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #detailed-stats-pannel{
            display: none;
        };

    </style>

{% endblock %}

{% block dynamicMenuContent %}
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <h2 class="display-4 py-4 text-center"><strong>New request</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <div class="alert alert-info">
                        <h6 text-center">Emergancy? Call (555) 555-5555</h6>
                    </div>
                </div>
            </div>
            <form autocomplete="on" id="reqform" method="post" action="{{ path("newWorkOrder")}} " enctype="multipart/form-data">

                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="req_name_input"> Your name:</label>
                        <input class="form-control" id="req_name_input" autocomplete="name" name="name" type="text" required>
                        <div class="invalid-feedback">
                            Invalid name
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="req_phone_input"> Phone #:  </label>
                        <input class="form-control" id="req_phone_input" name="phone" type="phone" required>
                        <div class="invalid-feedback">
                            Invalid phone
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="req_email_input"> E-mail address:  </label>
                        <input class="form-control" id="req_email_input" name="email" type="email" required>
                        <div class="invalid-feedback">
                            Invalid e-mail
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="req_dept_sel"> Department:  </label>    
                        <select class="form-control" id="req_dept_sel" name="dept" required>
                            <option value="biology">Biology</option>
                            <option value="chemistry">Chemistry</option>
                            <option value="eas">EAS</option>
                            <option value="mathematics">Mathematics</option>
                            <option value="physics">Physics</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="invalid-feedback">
                            Invalid department
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">    
                        <label for="prob_type_input">Request type:</label>
                        <div class="autocomplete_jq">
                            <input name="problemtype" type="text" name placeholder="e.g Leak" id="req_type_input" class="form-control" required>
                        </div>
                        <div id="stats-main-container" class="small">
                            Recent activity: Request count:<span> 5</span>, Satisfaction: <span> 50% </span> <a href="./statistics"> see more </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">     
                        <label for="prob_loc_input">Location:</label>
                        <div class="autocomplete_jq">
                            <input type="text" placeholder="Ex. MR 1320" id="req_loc_input" class="form-control" name="location" required>
                        </div>
                    </div>

                </div>
                <div class="form-check row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="urgent">
                                Urgent request.<small class="text-muted"> Explain in details below</small>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label>Detailed description:</label>
                        <textarea rows="4" class="form-control" name="descr" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label>Additional instructions:</label>
                        <textarea rows="4" class="form-control" name="inst" placeholder='None'></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="wo_image" class="button">Attach an image (optional)</label>
                        <input class="form-control-file" type="file" id="req_image" class="show-for-sr" name="imgfile">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
                    </div>
                </div>

            </form>     
        </div>
    </section>
{% endblock %} 

{% block javascript %}
    {{parent()}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        var workRequest = {

            requester: "",
            phone: "",
            email: "",
            dept_id: "",
            type: "",
            location: "",
            urgent: 0,
            desc: "",
            inst: ""

        }

        $(document).ready(function () {


            $("#req_type_input").autocomplete(
                    {
                        source: "{{ path('getRequestTypes') }}",
                        minLength: 2,
                        select: function (event, ui) {
                            alert("Will get stats for " + ui.item.value);
                        }
                    }
            );


            $("#req_loc_input").autocomplete(
                    {
                        source: "{{ path('getLocations') }}",
                        minLength: 2
                    }
            );


            $('#reqform').submit(function (event) {

                var form = document.getElementById("reqform");

                if (form.checkValidity() == false) {
                    event.preventDefault();
                }

            });

           {# $("#submit_btn").click(function (event) {





                var formdata = $('#workorder_form').serialize();

                $.ajax({
                    url: '{{ path('addWorkOrder') }}',
                    type: 'post',
                    dataType: 'json',
                    data: formdata,
                    success: function (data) {
                        alert("Server says: " + JSON.stringify(data));
                    },
                    error: function () {
                        alert("Error submitting");
                    }
                });




            });#}

        });

    </script>
{% endblock %} 


