{% extends "base.template.twig" %}

{% import "form.html.twig" as form %}

{% block title %}
    CURES - Submitt a work order
{% endblock %}

{% block styles %}
    {{parent()}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #detailed-stats-pannel{
            display: none;
        };

    </style>

{% endblock %}

{% block dynamicMenuContent %}
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <h3 class="display-4 py-4 text-center"><strong>New request</strong></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <div class="alert alert-info">
                        <h6 class="text-center">Emergancy? Call (555) 555-5555</h6>
                    </div>
                </div>
            </div>
            {% if formcontent.errors is defined %}
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <div class="alert alert-danger">
                            <h6 class="text-center">Error submitting request</h6>
                        </div>
                    </div>
                </div> 
            {% endif %}
            <form autocomplete="on" id="reqform" method="post" action="{{ path("newWorkOrder")}} " enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <div class="autocomplete_jq">

                            {% set fieldAttributes = 
                                {
                                    "type" : "input",
                                    "subtype" : "text",
                                    "name" : "type",
                                    "lbl" : "Request type:", 
                                    "value" : "",
                                    "placeholder" : "e.g Leak",
                                    "required" : "required"
                                }   
                            %}

                            {{ form.field(fieldAttributes,_context) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">     
                        <div class="autocomplete_jq">
                            {% set fieldAttributes = 
                                {
                                    "type" : "input",
                                    "subtype" : "text",
                                    "name" : "location",
                                    "lbl" : "Location:", 
                                    "value" : "",
                                    "placeholder" : "e.g MR 1320",
                                    "required" : "required"
                                }   
                            %}

                            {{ form.field(fieldAttributes,_context) }}
                        </div>
                    </div>

                </div>
                <div class="form-check row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="urgent">
                                Urgent request. Explain below
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label>Details:</label>
                        <textarea rows="4" class="form-control" name="details" required></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="wo_image" class="button">Attach an image (optional)</label>
                        <input class="form-control-file show-for-sr" type="file" id="req_image" name="imgfile">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        {% set fieldAttributes = 
                                {
                                    "type" : "input",
                                    "subtype" : "text",
                                    "name" : "name",
                                    "lbl" : "Your name:", 
                                    "value" : "",
                                    "placeholder" : "",
                                    "required" : "required"
                                }   
                        %}

                        {{ form.field(fieldAttributes,_context) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <label for="req_dept_sel"> Department:  </label>    
                        <select class="form-control custom-select " id="req_dept_sel" name="dept" required>
                            <option value="biology">Biology</option>
                            <option value="chemistry">Chemistry</option>
                            <option value="eas">EAS</option>
                            <option value="mathematics">Mathematics</option>
                            <option value="physics">Physics</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="invalid-feedback">
                            Invalid department
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        {% set fieldAttributes = 
                                {
                                    "type" : "input",
                                    "subtype" : "text",
                                    "name" : "phone",
                                    "lbl" : "Phone #:", 
                                    "value" : "",
                                    "placeholder" : "",
                                    "required" : "required"
                                }   
                        %}

                        {{ form.field(fieldAttributes,_context) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        {% set fieldAttributes = 
                                {
                                    "type" : "input",
                                    "subtype" : "text",
                                    "name" : "email",
                                    "lbl" : "E-mail address:", 
                                    "value" : "",
                                    "placeholder" : "",
                                    "required" : "required"
                                }   
                        %}

                        {{ form.field(fieldAttributes,_context) }}
                    </div>
                </div>
                <div class="form-check row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="reme">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                        <button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
                    </div>
                </div>

            </form>     
        </div>
    </section>
{% endblock %} 

{% block javascript %}
    {{parent()}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        var workRequest = {

            requester: "",
            phone: "",
            email: "",
            dept_id: "",
            type: "",
            location: "",
            urgent: 0,
            desc: "",
            inst: ""

        };

        $(document).ready(function () {


            $("#type_field_widget").autocomplete(
                    {
                        source: "{{ path('getRequestTypes') }}",
                        minLength: 2,
                        select: function (event, ui) {
                            alert("Will get stats for " + ui.item.value);
                        }
                    }
            );


            $("#location_field_widget").autocomplete(
                    {
                        source: "{{ path('getLocations') }}",
                        minLength: 2
                    }
            );


            $('#reqform').submit(function (event) {

                console.log("Will submit");

                var form = document.getElementById("reqform");

                if (form.checkValidity() == false) {
                    event.preventDefault();
                }

            });
        });

    </script>
{% endblock %} 


